.login{
    padding: 32px;
}
.member{
    color: #1C1335;
}
.sign-in{
    color: #FA4A84;
}
.create{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px ;
}
.create h3{
    font-size: 28px;
    font-weight: 500;
    color: #1B003B;
}
.create p{
    font-size: 16px;
    color: #1B003B;
}
.btn{
    background-color:#FA4A84;
    max-width: 100%;
}
.btn-next{
    width: 100%;
}
form label{
    font-size: 12px;
}
.welcome{
    margin-bottom: 45px;
}
.welcome p{
    color: #3c444b !important;
}
.welcome h3{
    font-weight: 400;
}
.info{
    margin-top: 40px;
}
