.login{
    padding: 32px;
}
.member{
    font-family: 'BRFirma-SemiBold', serif;
    font-size: 14px;
    color: #1C1335 !important;
    text-align: right;
}
.sign-in{
    color: #FA4A84;
}
.create{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px ;
}
.formlist{
    font-family: 'BRFirma-SemiBold', serif !important;
    font-size: 18px !important;
}
.btn{
    background-color:#FA4A84;
    max-width: 100%;
    margin-top: 10px;
}
.btn-next{
    font-family: 'BRFirma-SemiBold', serif;
    font-size: 16px;
    width: 100%;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.new-acc{
    margin-bottom: 45px;
}
.new-acc h3{
    font-family: 'BRFirma-SemiBold', serif;
    font-size: 28px;
    color: #1B003B;
}
.new-acc p{
    font-family: 'BRFirma-Regular', serif;
    font-size: 16px !important;
    color: #3c444b !important;
}

.box1, .box2, .box3{
    margin-bottom: 20px;
}
.click2 p{
    font-size: 14px !important;
    color: #8397AB !important;
    margin-left: 25px;
}
.click2{
    margin-top: 15px;
}
/* .click2 i{
    color: greenyellow;
} */
.back2{
    padding: 32px;
}
.cac2{
    color: #8397AB  !important;
    font-family: 'BRFirma-Regular', sans-serif;
    font-size: 13px;
}
.cac2 p{
    margin-bottom: -2px;
}
