/* .login{
    padding: 32px;
} */
.topbar{
    padding: 32px 0 0 12px;
}
.member{
    color: #1C1335 !important;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
}
.sign-in{
    color: #FA4A84;
   
}
.create{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px ;
}
.create h3{
    font-size: 28px;
    font-weight: 500;
    color: #1B003B;
}
.create p{
    font-size: 16px;
    color: #1B003B;
}
.btn{
    background-color:#FA4A84;
    max-width: 100%;
    margin-top: 10px;
}
.btn-next{
    width: 100%;
    color: #FFFFFF;
    margin-bottom: 30px;
}
form label{
    font-size: 12px;
}
.new-acc{
    margin-bottom: 45px;
}
.new-acc h3{
    font-weight: 400;
}
.new-acc p{
    color: #3c444b !important;
}
.box1 .box2{
    color:#1C1335;
    font-size: 18px;
}
.box1, .box2, .box3{
    margin-bottom: 20px;
}
.click1 p{
    font-size: 14px !important;
    color: #8397AB  !important;
    margin-left: 25px;
}
.click1{
    margin-top: 15px;
}
.back{
    padding: 32px;
}
.cac1{
    color: #8397AB  !important;
}
.cac1 p{
    margin-bottom: -2px;
}