.thesquare{
    color: #F4F8FB;
}
.thechev{
    color: #8397AB;
}
.bn-button{
    border-radius: 50%;
    position: relative;
    top: -15px;
    right: -5px;
    background-color: #1C1335;
    color: #ffffff;
}
.sub-biz{
    font-family: 'BRFirma-Medium', sans-serif;
    font-size: 11px;
  }
  .fa-magic, .fa-clipboard{
    color: #6c757d !important;
    font-size: 25px;
  }
  .clay{
    font-family: 'BRFirma-SemiBold', sans-serif;
    font-size: 16px;
    color: #1B003B;
  }
  .manage{
    font-family: 'BRFirma-Medium', sans-serif;
    font-size: 12px;
    color: #6c757d;
  }
  .grey-footer{
    margin-top: 200px;
    margin-bottom: 0px;
  }
  
