/* .fullpage{
    width: 1440px;
    height: 900px;
    
} */

.login{
    padding: 32px;
}
.member{
    font-family: 'BRFirma-SemiBold', serif;
    font-size: 14px;
    color: #1C1335 !important;
    text-align: right;
}
.sign-in{
    color: #FA4A84;
}
.create{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px ;
}
.create h3{
    font-family: 'BRFirma-SemiBold', serif;
    font-size: 28px;
    color: #1B003B;
}
.create p{
    color: #3c444b !important;
    font-family: 'BRFirma-Regular', serif;
    font-size: 16px;
}
.btn{
    background-color:#FA4A84;
    max-width: 100%;
}


.btn-next{
    font-family: 'BRFirma-SemiBold', serif;
    font-size: 16px;
    width: 100%;
    color: #FFFFFF;
}
form label{
    font-size: 12px;
}
/* .fa-chevron-down{
    color: black;
    position: relative;
    bottom: 35px;
} */
/* .form-control:focus{
    border-color: none !important;
    box-shadow: transparent;
} */
/* textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
} */
/* .form-control:focus {
    border-color: transparent;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
} */



.form-control:focus {
    border-bottom: 2px solid red;
    box-shadow:none
}